<%= render 'layouts/header' %>

<div class="span2">
  <img src="/assets/tomato.png">
  <div class="span5"></div>
</div>
<div class="span9">

  <h1> Welcome to Farmbow!</h1>
  <br>
  <% if user_signed_in? %>

      <div>

        <% if !current_user.plant.nil? %>
            <h3> Showing your current plants: </h3>
            <% Plant.find_all_by_user_id(current_user.id).each do |plant| %>
                <p>

                  <% plant_name = plant['name'] %>
                  <% if !plant_name.nil? %>
                      Plant Name: <%= plant['name'] %>
                  <% end %>
                  <% plant_type = plant['type_of_plant'] %>
                  <% if !plant_type.nil? %>
                      Plant Type: <%= plant['type_of_plant'] %>
                  <% end %>
                  <% plant_irrigation_level = plant['irrigation_level'] %>
                  <% if !plant_irrigation_level.nil? %>
                      Plant Water Level: <%= plant['irrigation_level'] %>
                  <% end %>

                  <% if current_user.current_temperature.nil? %>
                    <h4> Couldn't read temperature just yet. please wait and refresh.</h4>
                <% else %>
                    <% if (current_user.current_temperature >= plant.safe_temp_min) and (current_user.current_temperature <= plant.safe_temp_max) %>
                        <h4> Temperature is within safe range. </h4>
                    <% else %>
                        <h4> Temperature isn't within safe range. </h4>
                    <% end %>
                <% end %>
            <%end%>


                <h3> Water Level - </h3>
            <div class="container">
              <div class="progress progress-striped active">
                <div class="bar" style="width: 0%;"></div>
              </div>
            </div>
                <%= link_to "Fill Water", {:action => "fill_water", :controller => "plants"}, :remote => true, :class => "btn btn-mini btn-primary" %>

            </p>
        <%end%>
        <% if current_user.current_temperature != 0.0 %>
            <h4>User Location - <%= current_user.location %>. </h4>
            <h4>Temperature Reading - <%= current_user.current_temperature.to_s  %> degrees.</h4>




        <% end %>
  <% else %>
      <h3> Please Sign in or Sign up!</h3>

  <% end %>
  </div>
</div>