<%= render 'layouts/header' %>
<div class="content">
  <div class="main-content round">
    <h1>Farmbow</h1>
    <h2>Connecting Families back to nature</h2>
    <% if user_signed_in? %>
    <%else%>

        <%= link_to "Login", new_user_session_path, :class => "btn btn-success btn-large" %>
        <span class="seperate">or</span>
        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    <% end %>
  </div>

  <div class="main-content round">
    <div class="main-plants">
      <% if user_signed_in? %>
          <div>
            <% if current_user %>
                <% if current_user.plants %>
                    <% if !current_user.plants.nil? %>
                        <% if current_user.plants.any? %>
                            <h2> My Plants </h2>
                            <hr>
                            <div id="water_for_progressbar" hidden="true">
                              <%= current_user.plants.first.irrigation_level.nil? ?
                                          0 : current_user.plants.first.irrigation_level  %>
                            </div>
                            <% current_user.plants.each do |plant| %>
                                <%= render plant, :plant => plant %>
                            <% end %>

                            <div class="water_button">
                              <%= link_to "Fill Water", {:action => "fill_water", :controller => "plants"}, :id => 'fill_water' , :remote => true, :class => "btn btn-large btn-primary" %>
                            </div>
                            <div class="upload_photo main-content box-content round">
                              <h4>Plant Profile Pic</h4>
                              <%= form_for current_user.plants.first do |f| %>
                                  <%= f.label :plant_name %>
                                  <%= select_tag :search_state, options_from_collection_for_select(Plant.find_all_by_user_id(current_user.id), :id, :name) %>
                                  <%= f.file_field :image %>
                                  <div class="form-actions">
                                    <%= f.submit class: "btn-primary" %>
                                  </div>
                              <% end %>
                              <h3> <%= current_user.current_temperature %></h3>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>

            <%= ajax_section :id => "pagination", :render => {:partial => "user_actions/index"} %>
            <% end %>
      <% end %>

      </div>
    </div>
  </div>

</div>
