<%= render 'layouts/header' %>
<div class="content">
  <div class="main-content round">
    <h1>Farmbow</h1>
    <h2>Connecting Families back to nature</h2>
    <% if user_signed_in? %>
    <%else%>

        <%= link_to "Login", new_user_session_path, :class => "btn btn-success btn-large" %>
        <span class="seperate">or</span>
        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    <% end %>
  </div>

  <div class="main-content round">
    <div class="main-plants">
      <% if user_signed_in? %>
          <div>
            <% if current_user %>
                <% if current_user.plants %>
                    <% if !current_user.plants.nil? %>
                        <h2> My Plants </h2>
                        <hr>
                        <% Plant.find_all_by_user_id(current_user.id).each do |plant| %>
                            <%= render plant, :plant => plant %>
                        <%end%>
                        <div class="water_button">
                          <%= link_to "Fill Water", {:action => "fill_water", :controller => "plants"}, :id => 'fill_water' , :remote => true, :class => "btn btn-large btn-primary" %>
                        </div>
                        <div class="something">
                          <%= form_for @plant do |f| %>
                              <%= f.text_field :name %>
                              <%= f.file_field :image %>
                              <div class="form-actions">
                                <%= f.submit %>
                              </div>
                          <% end %>
                        </div>
                    <%end%>
                <% end %>
                <%= ajax_section :id => "pagination", :render => "user_actions/index" %>

          <% end %>
      <% end %>
      </div>
    </div>
  </div>

</div>
