<%= render 'layouts/header' %>
<div class="content">
<div class="main-content round">
  <h1>Farmbow</h1>
  <h2>Connecting Families back to nature</h2>
  <% if user_signed_in? %>
      <%else%>

      <%= link_to "Login", new_user_session_path, :class => "btn btn-success btn-large" %>
        <span class="seperate">or</span>
        <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
  <% end %>
</div>
<% if user_signed_in? %>
<div class="main-content span7 round">
  <div class="main-plants">
  <% if user_signed_in? %>
      <div>
        <% if !current_user.plant.nil? %>
            <h2> My Plants </h2>
            <hr>
            <% Plant.find_all_by_user_id(current_user.id).each do |plant| %>
                <%= render plant, :plant => plant %>
            <%end%>
        <%end%>
  <% end %>
  </div>
  </div>
</div>
<div class="main-content span4 round pull-right">
  <div class="weather">
    <% if user_signed_in? %>
    <% if current_user.current_temperature != 0.0 %>
        <h4>User Location - <%= current_user.location %>. </h4>
        <h4>Temperature Reading - <%= current_user.current_temperature.to_s  %> degrees.</h4>
    <% end %>
    <%end%>
  </div>
</div>
<% end %>
</div>