<h1>Listing Activities</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
      <%= ajax_links :section_id => "pagination" do %>

          <%= will_paginate @user_actions %>

      <% end %>
      <%= ajax_loadzone do %>
          <% @user_actions.each do |user_action| %>

              <tr>

                <div class="user_action">
                  <td><%= link_to user_action.owner.name, user_action.owner if user_action.owner %></td>
                  <td><p><%= render_activity user_action %></p></td>
                </div>
              </tr>

          <% end %>
      </table>

      <% end %>

