
<%= form_for @plant, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :type_of_plant, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :type_of_plant, options_for_select([["Tomato Plant", "Tomato"], ["Other", "Tomato"]]) %>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  plants_path, :class => 'btn btn-large' %>
      <%= f.submit nil, :class => 'btn btn-primary btn-large' %>
    </div>
<% end %>
