<%= form_for @plant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_of_plant, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type_of_plant, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :initial_plant_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :initial_plant_info, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :irrigation_quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :irrigation_quantity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :irrigation_frequency, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :irrigation_frequency, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :irrigation_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :irrigation_level, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :irrigation_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :irrigation_info, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fertilizer_quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fertilizer_quantity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fertilizer_frequency, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :fertilizer_frequency, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :temperature_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :temperature_info, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :safe_temp_min, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :safe_temp_min, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :safe_temp_max, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :safe_temp_max, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sun_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sun_level, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sun_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sun_info, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plants_path, :class => 'btn' %>
  </div>
<% end %>
