<%= render 'layouts/header' %>
<% provide(:title, 'Contact') %>
<div class="content">
  <div class="box-content round contact">
<h2 class="form-signin-heading"> Contact us </h2>

<%= form_for @message, :url => contact_path do |form| %>

<%= render 'devise/shared/error_messages', :object => @message %>

    <fieldset class="fields">
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="field">
        <%= form.label :subject %>
        <%= form.text_field :subject %>
      </div>

      <div class="field">
        <%= form.label :body %>
        <%= form.text_area :body, rows: 10 %>
      </div>

    </fieldset>
    <fieldset class="actions">
      <center>
        <%= form.submit "Send", :class => 'btn btn-primary btn-large' %>
      </center>
    </fieldset>

<% end %>
         </div>
</div>