<div class="header navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"> <%= image_tag("farmbow-logo copy.png") %></a>
      <div class="nav-collapse">
        <ul class="nav">

          <% if user_signed_in? %>
              <li style="padding-top: 1em;"><%= link_to "Add Plants", plants_path %></li>
              <li style="padding-top: 1em;"><%= link_to 'Edit profile', edit_user_registration_path %> </li>
              <li style="padding-top: 1em;"><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
          <% else %>
              <li style="padding-top: 1em;"><%= link_to "Sign up", new_user_registration_path %> </li>
              <li style="padding-top: 1em;"><%= link_to "Login", new_user_session_path %> </li>
          <% end %>
          <li style="padding-top: 1em;"><%= link_to "Contact Us", contact_path %></li>
        </ul>
      </div>

    </div>

  </div>

</div>